<footer>
    <p>&copy; 2024 Mauricio Cox. Todos los derechos reservados.</p>
    <ul>
        <li><a href="https://github.com/tuusuario" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/tuusuario" target="_blank">LinkedIn</a></li>
    </ul>
</footer>